#bg {
    background: url('/mhacks2016/images/background4.jpeg');
    min-height: 100vh;
    background-size: cover;
}

#pd50 {
    padding-bottom: 50px;
}

#submit-button {
    color:white;
    background-color:#033038;
    border-radius: 0px;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    padding: 10px 20px;
    outline:none;
    transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -ms-transition:0.2s ease all;

}

#submit-button:hover {
    background-color:#1E5B67;
}

.text-center {
    text-align: center;
}

.padding-top-for-buttom {
    padding-top: 64px;
}



#main-title h1 {
    font-size:70px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color:#0B515E;
}

#welcome {
    /*background-color:rgba(236, 238, 255, 0.40) !important;*/
    background:transparent;
    color:#0B515E;
    font-family: "Open Sans";
    font-weight: 400;
}
.containerA{
    width:80%;
    max-width: 800px;
    margin:auto;
}
.skewed{
    /*background-color: #3F7381;*/
    transform: skewX(10deg);
    border: 1px dashed #3F7381;
}
.skewed input{
    -webkit-appearance: none;
    border: 0;
    /* background: #3F7381; */
    background: transparent;
    color: #295E69;
    border-radius: 0;
    -webkit-transform: skewX(-10deg);
    transition:0.3s ease all;
    transition-delay:0.2s;
    -webkit-transition:0.3s ease all;
    -webkit-transition-delay:0.2s;
    -moz-transition:0.3s ease all;
    -moz-transition-delay:0.2s;
    -ms-transition:0.3s ease all;
    -ms-transition-delay:0.2s;
}

.form-control::-webkit-input-placeholder {
    color: #8399A5;
    opacity: 1;
}

.form-group.row:before {
    background: url("/mhacks2016/images/transport.png");
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    left: -20px;
}


.col-sm-9.skewed:before {
    background-color: #3F7381;
    position: absolute;
    width: 0%;
    height: 100%;
    display: block;
    content: "";
    left: 0;
    right: 0;
    transition:0.3s ease all;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -ms-transition:0.3s ease all;
}

.col-sm-9.skewed.active:before{
    width: 100%;
    transition:0.3s ease all;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -ms-transition:0.3s ease all;
}

.col-sm-9.skewed.active input{
    color:white;
    transition:0.3s ease all;
    transition-delay:0.2s;
    -webkit-transition:0.3s ease all;
    -webkit-transition-delay:0.2s;
    -moz-transition:0.3s ease all;
    -moz-transition-delay:0.2s;
    -ms-transition:0.3s ease all;
    -ms-transition-delay:0.2s;

}

.destination {
    text-align: center;
    color:white;
    background-color:#58808D;
    border-radius: 0px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    padding: 10px 10px;
    outline:none;
}

.details {
    text-align: center;
    color:#033038;
    border-radius: 0px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    padding: 10px 10px;
    outline:none;

}

.details2 {
    text-align: center;
    color:#033038;
    border-radius: 0px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    padding: 10px 10px;
    outline:none;
}

.places-row {
    padding-top: 25px;
}

.place-row {
    /*background-color:rgba(100,100, 100, 0.3)*/
}

.select-button {
    margin-top: 40px;
}

.put-space-left {
    margin-left: 12%;
}

.put-space-right {
    margin-right: 12%;
}

.remove-margin {
    padding:0;
    margin:0;
}
